@font-face {
    font-family: 'nunito';
    src: url('Nunito-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'nunito';
}

.section {
    height: 100vh;
    width: 100%;
    
}

.navbar{
    margin:2%;
    justify-content: space-between;
    align-items:center; 
    display:flex;
    position:fixed;
    width:90%;
    background-color: #444555;
    padding: .3rem;
    border-radius:.5rem;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}

.space{
    height:15%;
}

.navbar h1 {
    color: #eeee;
    margin-left: 1rem;
}

.navbar ul{
    float:right;
}
.navbar li {
    list-style-type:none;
    display:inline;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    margin:.3rem;
    color:#eeee;
    transition: .3s ease;
    border-bottom: white 2px solid transparent;
}

.navbar ul li a:hover{
    border-bottom: #444444 2px solid;
    color:#444444;
}

#home .inner-section{
    background-color:#887d7d;
    border-radius: .5rem;
    height: 75vh;
    width:80%;
    margin-left:auto;
    margin-right:auto;
   display:flex;
    padding: 1rem;
    justify-content: space-between;
}

#home .inner-section img{
    border-radius:.5rem;
    width: 30rem;
    
}

#arrow{
    
    height:10rem;
    margin-top:20%;
}

#arrow:hover{
    cursor:pointer;
}

.numIndex{
    text-align:center;
}

.numIndex li{
    list-style-type:none;
    display:inline;
    margin-left:1rem;
}

#calendar {
    box-sizing: border-box;
    background-color: #111111;
    color: #eeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar {
    margin-top: 6%;
    height: 40rem;
    width: 45rem;
    background-color: #222222;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}

.month {
    width: 100%;
    height: 10rem;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}
.date {
    margin: auto;
}

.weekdays {
    width: 100%;
    height: 4rem;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
}
.weekdays div {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin: .3rem;
    width: calc(40.4rem/7);
    justify-content: center;
    display: flex;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 .2rem .2rem .2rem;
}

.days div {
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.4rem/7);
    height: calc(21.5rem/6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
    transition: background-color .3s, outline .3s;
}
.days div:hover:not(.today){
    background-color: #333333;
    outline: .2rem solid #555555;
    cursor: pointer;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.today {
    background-color: #444444;
    outline: .2rem solid #777777;
}